<div class="chat-container">
    <div class="chat-messages">

        <div class="grid gap-y-2">
            <!-- Chat Messages -->
            <app-gpt-message
                text="Escribe el texto que quieras que se escuche en el audio."
            />

            @for (message of messages(); track $index) {
                @if ( message.isGpt ) {
                    <app-gpt-message 
                        [text]="message.text" 
                        [audioUrl]="message.audioUrl"
                    />
                } @else {
                    <app-my-meesage [text]="message.text" />
                }
            }

            @if(isLoading()){
                <app-typing-loader />
            }
        </div>
    </div>
    <!-- MessagesBox -->

    <!-- Este código muestra la caja de texto con posibilidad de seleccinar-->
    <app-text-message-box-select 
        placeholder="Escribe lo que quieras"
        [options]="voices()"
        (onMessage)="handleMessageWithSelect($event)"
    />

</div>